apiVersion: v1
kind: ConfigMap
metadata:
  name: was-config
  namespace: three-tier
data:
  DB_HOST: "db"
  DB_PORT: "5432"
  DB_NAME: "appdb"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: was
  namespace: three-tier
spec:
  replicas: 2
  selector:
    matchLabels:
      app: was
  template:
    metadata:
      labels:
        app: was
    spec:
      containers:
        - name: was
          image: was:local
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: was-config
            - secretRef:
                name: db-secret
          env:
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: POSTGRES_USER
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: POSTGRES_PASSWORD
---
apiVersion: v1
kind: Service
metadata:
  name: was
  namespace: three-tier
spec:
  selector:
    app: was
  ports:
    - port: 80
      targetPort: 8080
  type: ClusterIP
